<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab1</title>

    <link rel="stylesheet" href="./index.css" />
</head>

<body>
    <h1>Le Hoang Long</h1>

    <form action="/" method="post" enctype="multipart/form-data">
        <input placeholder="Nhập mã sản phẩm" name="ma_sp">

        <input placeholder="Nhập tên sản phẩm" name="ten_sp"> 
    </form>
</body>

</html> 